* {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.Header-Wrap {
    background-color: #333;
    padding: 1rem 2rem;
}
.Header-Title {
        color: #fff;
    }
.Header-Title-Link {
            color: #fff;
        }
.Side {
    background-color: #eee;
    height: 100vh;
    padding: 1rem 2rem;
    width: 30%;
}
footer {
    background-color: #aaa;
    color: #fff;
    padding: 1rem 2rem;
}