<%- include(setting.COMMON_HEAD_FILE) %>

    <%- include(setting.COMMON_HEADER_FILE) %>
    
    <main>
        <h2 class="MainTitle">Mainコンポーネントです</h2>
    </main>

    <div class="SideComp">
        <h2>Sideコンポーネントです</h2>
    </div>

    <%- include(setting.COMMON_FOOTER_FILE) %>

<%- include(setting.COMMON_FOOT_FILE) %>