@import '_variable.css';
@import '_reset.css';

header {
    background-color: #333;
    padding: 1rem 2rem;
    h1 { color: var(--h1Color) }
}

.Side {
    background-color: #eee;
    height: 100vh;
    padding: 1rem 2rem;
    width: 30%;
}

footer {
    background-color: #aaa;
    color: #fff;
    padding: 1rem 2rem;
}