* {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.Header-Wrap {
    background-color: #333;
    padding: 1rem 2rem;
}
.Header-Title {
        color: #fff;
    }
.Header-Title-Link {
            color: #fff;
        }
.Side-Wrap {
    background-color: #eee;
    height: 100vh;
    padding: 1rem 2rem;
    position: absolute;
    -webkit-transition: .5s;
    transition: .5s;
    top: 0;
    left: 100%;
    width: 30%;
}
.Side-Wrap--Open {
        -webkit-box-shadow: -2px 0px 4px 2px rgba(0, 0, 0, 0.15);
        box-shadow: -2px 0px 4px 2px rgba(0, 0, 0, 0.15);
        -webkit-transition: .7s;
        transition: .7s;
        left: 70%;
    }
.Side-Link-Text {
    text-decoration: underline;
}
.Side-Button {
    background-color: red;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    height: 30px;
    left: -100px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 30px;
}
.Side-Button:hover {
        cursor: pointer;
        opacity: .7;
    }
footer {
    background-color: #aaa;
    color: #fff;
    padding: 1rem 2rem;
}