$Prefix: Index;

.$(Prefix)-Wrap {
    overflow: hidden;
    position: relative;
}

.$(Prefix)-Main {
    background-color: #ccc;
    height: 100vh;
    padding: 1rem 2rem;
    width: 100%;
}

.$(Prefix)-Title {
    font-size: 2rem;
    font-weight: bold;
}

.$(Prefix)-Bar {
  margin: 40px 0;
}

#defaultCanvas0,
#defaultCanvas1,
#defaultCanvas2,
#defaultCanvas3 {
  border-radius: 50px;
}