$Prefix: PageB;

.$(Prefix)-Wrap {
    overflow: hidden;
    position: relative;
}

.$(Prefix)-Main {
    background-color: #0a0;
    height: 100vh;
    padding: 1rem 2rem;
    width: 100%;
}

.$(Prefix)-Title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}