.Index-Wrap {
    overflow: hidden;
    position: relative;
}

.Index-Main {
    background-color: #ccc;
    height: 100vh;
    padding: 1rem 2rem;
    width: 100%;
}

.Index-Title {
    font-size: 2rem;
    font-weight: bold;
}