<html>
<head>
    <title>dsky-buildtool</title>
    <link rel="stylesheet" href="<%= setting.INDEX_CSS_FILE %>">
    <link rel="stylesheet" href="<%= setting.URL %><%= setting.COMMON_CSS_FILE %>">
</head>
<body>
